.container {
    width: 400px;
    border: 4px double #cc0052;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    background-color: #ff80b3;
}

.dice-img {
    width: 200px;
    display: block;
    margin: 20px auto;
}

.btn-roll {
    display: block;
    margin: 20px auto;
    margin-top: 30px;
    background-color: #cc0052;
    color: white;
    font-size: 20px;
    padding: 7px 40px;
    border-radius: 40px;
    box-shadow: 3px 3px 3px black;
    border: none;
    cursor: pointer;
}

.btn-roll:hover{
    background-color: #ff4d94;
    box-shadow: none;
    transition: 0.5s;
}
.heading {
    text-align: center;
    color: #cc0052;
}